APIM_SK=[your subscription key]
MAUTH_CERT_NAME=[name of the mauth certificate file in certs directory]
MAUTH_PRIVATE_KEY_NAME=[name of the mauth rivate key file in certs directory ]
PAN_OK=[pan of a card enrolled]